ion-card {

  ion-card-header {

    padding: 12px;

    ion-card-title {
      font-size: 18px;
    }

    ion-card-subtitle {

    }
  }

  ion-card-content {
    padding: 0 12px 12px 12px !important;
  }
}
