<app-menu></app-menu>

<ion-tabs id="menu">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="alerts">
      <ion-icon name="alert"></ion-icon>
      <ion-label>Alerts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="subscriptions">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Subscriptions</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
