<ion-menu side="start" menuId="first" contentId="menu">

  <ion-header>
    <ion-toolbar>
      <ion-title>Configuration</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div padding>
      <ion-text>Brian Froschauer</ion-text>
    </div>

    <div>
      <ion-list>
        <ion-item>
          <ion-icon name="contact"></ion-icon>
          <ion-text margin-start>Account</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="lock"></ion-icon>
          <ion-text margin-start>Password</ion-text>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>

</ion-menu>
